asttokens==2.0.5; python_version >= "3.6"
certifi==2021.10.8; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
cffi==1.15.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
charset-normalizer==2.0.9; python_full_version >= "3.6.2" and python_version >= "3" and python_full_version < "4.0.0"
click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
cryptography==36.0.0; python_version >= "3.6"
cryptojwt==1.6.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
devtools==0.8.0; python_version >= "3.6"
executing==0.8.2; python_version >= "3.6"
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.5" and python_full_version < "4.0.0"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyjwt==2.3.0; python_version >= "3.6"
readerwriterlock==1.0.9; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
typer==0.3.2; python_version >= "3.6"
typing-extensions==4.0.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
urllib3==1.26.7; python_full_version >= "3.6.2" and python_version < "4" and python_full_version < "4.0.0"
